@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Mate&display=swap');

body {
	background: #152b0f;
	background-size: cover;
	color: #152206;
	font-family: "Mate", serif;
}
.bg {
	display: block;
	background: floralwhite;
	box-shadow: 3px -3px #a3bc25;
	color: #33001a;
	padding: 10vh;
	margin: 10vh;
}

.bg img {
	align: center;
	max-width: 100%;
	height: auto;
}

a {
	color: #954663;
}

.displayimg {
	max-width:50%;
	height: auto;
}

hr {
	border: none;
	height: .5em;
	width: 5em;
	align: center;
	background-color: #954663;
}

h1,h2,h3,h4 {
	color: #954663;
	font-family: "Aldrich", serif;
}

