@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Mate&display=swap');

body {
	background: #152b0f;
	color: #152206;
	font-family: "Mate", serif;
}

a {
	color: #954663;
}

img {
	max-width: 30%;
}

hr {
	border: none;
	height: .5em;
	width: 5em;
	align: center;
	background-color: #954663;
}

h1,h2,h3,h4 {
	color: #954663;
	font-family: "Aldrich", serif;
}

