.nav {
	font-family: "Aldrich", sans-serif;
	background: floralwhite;
	color: black;
	display: inline;
	margin: .5em;
	padding: 1.5em;
	border-radius: 1em;
	font-size: 1em;
	margin-bottom: 4em;
	box-shadow: 3px 3px #a3bc25;
	text-decoration: none;
	font-weight: none;
	max-width: 70vh;
	}
.current {
	color: #954663;
}
