.posttitle {
	text-transform: lowercase;
	font-family: "Aldrich", serif;
	color: #dcf485;
	text-decoration: underline 5px floralwhite;
}
.postbody {
	display: block;
	background: floralwhite;
	box-shadow: 3px 3px #a3bc25;
	color: #33001a;
	padding: 2em;
	margin: 2em;
}
.bloo {
	color: black;
	background: #dcf485;
	padding: .5em;
	box-shadow: 3px 3px #954663;
}
.postimg {
	align: center;
	max-width: 60%;
}
