body {
	background: #45593f; /* #0c7683;*/
	color: #152206;
}
/* anything in the navigation bar gets class nav */
.nav {
	font-family: sans-serif;
	background: floralwhite;
	color: black;
	display: inline;
	margin: .5em;
	padding: 1.5em;
	border-radius: 1em;
	font-size: 1em;
	margin-bottom: 4em;
	box-shadow: 3px 3px #a3bc25;
	text-decoration: none;
	}
/* the list of posts on the posts/blog page */
.postslist {
	list-style: none;
	font-family: sans-serif;
	color: black;
}
.posttitle {
	text-transform: lowercase;
	font-family: sans-serif;
	color: floralwhite;
	text-decoration: overline 4px #dcf485 underline 2px #954663;
}
.postbody {
	display: block;
	background: floralwhite;
	box-shadow: 3px 3px #a3bc25;
	color: #33001a;
	font-family: sans-serif;
	padding: 2em;
	margin: 2em;
}
.bloo {
	color: black;
	background: #dcf485;
	padding: .5em;
	box-shadow: 3px 3px #954663;
}

.tags {
	color: #954663;
	a:visited {
		color: lime;
	}
	a:hover {
		color: seagreen;
	}
	font-size: 1.3em;
}
a {
	color: #954663;
}

