/* this is basically everything on the page incl. headers, even though it says body */
body {
	background: lime;
}
/* anything in the navigation bar gets class nav */

.nav {
	font-family: sans-serif;
	background: yellow;
	color: aqua;
	}

/* the list of posts on the posts/blog page */

.postslist {
	list-style: none;
	font-family: sans-serif;
	color: aqua;
	font-size: 1.5em;

}
.posttitle {
	text-transform: lowercase;
	font-family: sans-serif;
	color: aqua;
	text-decoration: underline;
}

.postbody {
	display: block;
	background: ghostwhite;
	box-shadow: 3px 3px 3px aqua;
	color: #33001a;
	font-family: sans-serif;
	font-size: 1.5em;
}
