<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Young+serif">
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/">
		{% if site.tags !="" %}
			{% include collecttags.html %}
		{% endif %}
	</head>
	<body>
		{% include navigation.html %}
		<div class="content">
			{{ content }}
		</div>
		<br />
		<br />

	</body>
</html>
